@font-face {
  font-family: "iconfont"; /* Project id 2514143 */
  src: url('iconfont.woff2?t=1620740769846') format('woff2'),
       url('iconfont.woff?t=1620740769846') format('woff'),
       url('iconfont.ttf?t=1620740769846') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  /* font-size: 16px; */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou:before {
  content: "\e60e";
}

.icon-right:before {
  content: "\e63c";
}

.icon-left:before {
  content: "\e63b";
}

.icon-arrow-double-left:before {
  content: "\e665";
}

.icon-arrow-double-right:before {
  content: "\e666";
}

