*{
    margin: 0;
    padding: 0;
}

.main{
    width: 1200px;
    height: 460px; 
    margin: 30px auto;
    position: relative;
}

a{
    text-decoration: none;
}

@font-face {
    font-family: 'iconfont';
    src: url(../assets/iconfont/iconfont.woff) format("woff");
}

/* 左侧菜单 */
.menu-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 244px;
    height: 460px;
    background-color: rgba(7, 17, 27, 0.5);
    z-index: 1;
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 244px;
    height: 450px;
    padding-top: 10px;
    z-index: 2;
    
}
.menu-item{
    height: 60px;
    line-height: 60px;
    padding: 0 28px;
    position: relative;
}
.menu-item a{
    display: block;
    color: rgb(255, 255, 255);
    border-bottom: rgba(255, 255, 255, 0.5) 1px solid;
    padding-left: 12px;
    height: 50px;
    font-size: 16px;
}
.menu-item:last-child a{
    border-bottom: none;
}
.menu-item i{
    position: absolute;
    right: 30px;
    top: 22px;
    width: 18px;
    height: 18px;
    font-size: 16px;
    font-family: 'iconfont';
}

/* 轮播图 */
.banner{
    width: 1200px;
    height: 460px;
    overflow: hidden; /*图片溢出隐藏*/
}
.picture_banner{
    width: 1200px;
    height: 460px;
    overflow: hidden; /*图片溢出隐藏*/
    background-repeat: no-repeat;
}
/* 四张图片 */
.pic1{
    background-image: url(../../public/pictures/one.jpg);
}
.pic2{
    background-image: url(../../public/pictures/two.jpg);
}
.pic3{
    background-image: url(../../public/pictures/three.jpg);
}
.pic4{
    background-image: url(../../public/pictures/four.jpg);
}

/* 轮播图上的按钮 */
.pic_button_left{
    position: absolute;
    height: 40px;
    width: 40px;
    top: 50%;
    margin-top: -20px;
    left: 244px;
    color: #fff;
}
.pic_button_right{
    position: absolute;
    height: 40px;
    width: 40px;
    top: 50%;
    margin-top: -20px;
    right: 0;
    color: #fff;
}
.pic_button .pic_btn_left{
    margin-left: 244px;
}
.pic_btn_right{
    right: 12px;
}